*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

form {
  padding: 2rem;
  width: 400px;
  max-width: 90%;
  background-color: #fff;
}

form > * {
  margin-top: 2rem;
}

form label,
form input {
  display: block;
}

form input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: 2px solid #f0f0f0;
}

form button {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: #005580;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

form button:focus,
form button:hover {
  opacity: 0.9;
}

form span {
  font-style: italic;
  color: #f00;
  font-size: 0.8rem;
}
